{% extends 'base.html' %}

{% block content %}

<h2><font color = "red">Week Number: </font> {{record.week_id}} </h2>

<h2><font color = "Blue">Meeting Scheduled: </font> {{record.schedule_date}} </h2>

<h2><font color = "Green">Work Expected: </font>{{record.future_work}} </h2>
<hr>
<p>
<h2><font color = "Red">Upload Work For This Week: </font></h2>
</p>


<script>

$('#auxForm').submit(function () {
    $(this).append($.map(params, function (param) {
        return   $('<input>', {
            type: 'hidden',
            name: param.name,
            value: param.value
        })
    }))
});

</script>

<form method="post" enctype="multipart/form-data" id="#auxForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type = "hidden", name = "week_number", value={{value}}>
    <input type = "hidden", name = "flag", value=True>
    <button type="submit">Upload</button>
  </form>
<p><a href="{% url 'home' %}">Return to home</a></p>

{% endblock %}