{% extends 'base.html' %}

{% block content %}

<h2><font color = "red">Work Number: </font> {{prim.week_id}} </h2>

<h2><font color = "Blue">Meeting Scheduled: </font></h2>
<p><h4> {{prim.schedule_date}} </h4></p>

<h2><font color = "Green">Work expected: </font></h2>
<p><h4> {{prim.future_work}} </h4></p>


<!--<form method="post" enctype="multipart/form-data">-->
    <!--{% csrf_token %}-->
    <!--{{ form.as_p }}-->
    <!--<button type="submit">Upload</button>-->
  <!--</form>-->

{% endblock %}