{% extends 'base.html' %}

{% block content %}
<h1><font color = "red">Teacher's Profile</font></h1>
<font color="green"><p><h2>List of students under you:</h2></p></font>

<table>
    <tr>
        <th>Roll Number</th>
        <th>Name</th>
        <th>Topic</th>
    </tr>

    {% for obj in students %}

    <tr>
        <td><a href="{% url 'teacher_student_view' obj.student_roll %}">{{obj.student_roll }}</a></td>
        <td><a href="{% url 'teacher_student_view' obj.student_roll %}">{{obj.student_name }}</a></td>
        <td>{{obj.topic}}</td>
    </tr>
    {% endfor %}
</table>


<!--<p><font color="green"><h2>Latest reports:</h2></font></p>-->

<!--<table>-->
    <!--<tr>-->
        <!--<th>Student</th>-->
        <!--<th>Topic</th>-->
        <!--<th>Document</th>-->
        <!--<th>Description</th>-->
        <!--<th>Updated at</th>-->
        <!--<th>Check</th>-->
        <!--<th>Marks</th>-->
    <!--</tr>-->

    <!--{% for obj in documents %}-->
    <!--<tr>-->
        <!--<td>Dummy</td>-->
        <!--<td>Dummy</td>-->
        <!--<td><a href="{{ obj.document.url }}">{{ obj.document.name }}</a></td>-->
        <!--<td>{{obj.description}}</td>-->
        <!--<td>-->
            <!--<small>({{ obj.uploaded_at }})</small>-->
        <!--</td>-->
        <!--<td>No</td>-->
        <!--<td>0</td>-->
    <!--</tr>-->
    <!--{% endfor %}-->
<!--</table>-->


{% endblock %}