{% extends 'base.html' %}

{% block content %}
<style>
  #x{
    text-decoration : none;
    color : green;
  }
</style>

  <ul>
    <li>
      <a href="{% url 'for_teacher' %}" id="x">Teacher's Profile</a>
    </li>
    <hr>
    <li>
      <a href="{% url 'week_name' %}"id="x">Student's Profile</a>
    </li>
    <hr>
  </ul>






<!--<ul>-->
    <!--{% for obj in documents %}-->
      <!--<li>-->

        <!--<a href="{{ obj.document.url }}">{{ obj.document.name }}</a>-->
        <!--<small>(Uploaded at: {{ obj.uploaded_at }})</small>-->

      <!--</li>-->
    <!--{% endfor %}-->
  <!--</ul>-->
<!--{% endblock %}-->